body {
  .logoto-site-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 14% auto auto 25%;
    grid-template-areas: "logoto-header" "logoto-section" "logoto-main" "logoto-footer";
    //grid-gap: 5px;

    background-color: getColor(bg-secondary3);

  }
}

.site-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
