body {
  .logoto-site-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 14% auto 25%;
    grid-template-areas: "logoto-header" "logoto-main" "logoto-footer";
    //grid-gap: 5px;

    //@include flat-elements;
    background-color: getColor(bg-secondary3);

    //p {
    //  @include flat-elements;
    //}
  }
}

.site-login-bg,
header,
footer {
  padding: 0 20em;
  justify-content: center;
}
