.site-content {
  grid-area: logoto-main;

  height: auto;

  .site-wrapper {
    height: auto;
    // margin-left: 23em;
    // margin-right: 23em;

    padding-bottom: 2em;

    p {
      padding: 1.2em 0;
    }
  }
  color: getColor(text-primary);
  background-color: getColor(bg-secondary1);
}

.mini-wall {
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.image-container {
  display: flex;

  @include bp(phone) {
    display: block;
  }
}

.imaginary {
  margin-top: 1.3em;
  min-height: 41vh;
  width: 100%;

  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include bp(phone) {
    min-height: 25vh;
  }
}

article {
  display: flex;

  .about-text {
    // padding-right: 15px;
  }

  .about-logo {
    margin-top: 15px;
    padding-left: 15px;
    height: 25em;
  }
}

.story-title {
  width: 550px;
  margin-top: 1em;
  //margin-left: 18.5%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  color: getColor(nba-primary);
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-left: 5px solid getColor(text-primary);

  @include bp(phone) {
    width: auto;
    //margin-left: 5%;
  }
}

.transparent-text {
  text-align: center;
  margin-left: 18%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: 450px;
  color: getColor(bg-secondary);
  background-color: rgba($color: #000000, $alpha: 0.3);
  opacity: 0.3;

  @include bp(phone) {
    margin-left: 5%;
  }
}

.division-title {
  font-size: 20px;

  @include bp(phone) {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: getColor(nba-primary);
  }
}

.division {
  @include bp(phone) {
    margin: 0;
    padding: 0;
    font-size: 1px;
  }
}

.bgblack {
  background-color: rgba($color: black, $alpha: 0.3);

}

.bgblack:before {
  content: "| ";
  font-weight: 900;
  margin-left: 5.5%;
  color: getColor(nba-primary);

  @include bp(phone) {
    color: white;
  }
}

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.teams-container-flexwrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.team-card {
  background-color: #333;
  margin-top: 5em;
  margin: 1em;
  color: white;
  border-radius: 15px 15px;

  @include bp(phone) {

    margin-top: 1em;
  }
}

.card-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}
