.site-footer {
  grid-area: logoto-footer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;

  font-size: 12px;
  background-color: getColor(text-secondary);
  color: getColor(text-primary);

  @include bp(phone) {
    font-size: 9px;
  }

  .site-wrapper {
    display: flex;
    justify-content: space-between;
    // background-color: green;
    // margin-top: -50px;

    @include bp(phone) {
      margin-top: 2em;
      flex-direction: column;
    }

    width: 100%;
    height: auto;
  }
}

.teams {
  display: flex;
  justify-content: space-evenly;

  .teams-group {
    display: flex;
    flex-direction: column;
    // background-color: greenyellow;

    a {
      padding-top: 5px;
      color: getColor(text-primary);
      opacity: 0.6;
      padding: 0 5px;
      margin-top: 10px;
    }

    a:before {
      content: "| ";
      opacity: 0.3;
    }

    a:hover {
      opacity: 1;
      color: getColor(text-primary);
      background-color: getColor(nba-secondary);
      border-radius: 5px;
    }
  }
}

.footer-label {
  text-align: center;
  font-size: 12px;
  opacity: 0.2;
}

.footer-teams {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  @include bp(phone) {
    width: 100%;
  }
}

.footer-social-icons {
  width: 100%;
  display: block;
  justify-content: space-between;
  flex-direction: column;
  // background-color: greenyellow;

  @include bp(phone) {
    width: 100%;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;

    @include bp(phone) {
      margin-top: 1px;
      margin-bottom: 2em;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.3rem;
  height: 2.3rem;
}

.btn:hover {
  background-color: getColor(nba-secondary);
}

.btn-outline {
  border: 0.125rem solid rgb(70, 70, 70);
}

.btn-social {
  border-radius: 50%;
  font-size: 0.9rem;
  color: getColor(text-primary);
  background-color: rgb(39, 39, 39);
}

.footer-social-subscribe {
  width: 25%;
  margin-right: -40px;
  display: flex;
  flex-direction: column;

  @include bp(phone) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.footer-subscribe-form {
  display: block;
  margin-top: 35px;

  .subscribe {
    display: flex;

    input[type="email"] {
      height: 2em;
      width: 75%;
      margin-top: 15px;
      border: 1px solid #bec1c5;
      transition: all 0.4s;
      background-color: rgb(39, 39, 39);
      color: getColor(text-primary);
      padding-left: 15px;

      @include bp(phone) {
        width: 50%;
        margin-left: 17%;
      }

      &:focus {
        border-color: getColor(nba-primary);
      }
    }

    input[type="submit"] {
      height: 2.15em;
      width: auto;
      margin: 0 0.3em;
      padding: 0 0.3em;
      margin-top: 15px;
      transition: all 0.4s;
      color: getColor(text-primary);
      border: 1px solid getColor(logo-secondary);
      border-radius: 5px;
      background-color: getColor(logo-secondary);

      &:focus {
        border-color: getColor(logo-secondary);
      }

      &:hover {
        cursor: pointer;
        background-color: getColor(logo-primary);
      }
    }
  }
}
