.site-header {
  position: relative;
  grid-area: logoto-header;

  background-color: getColor(bg-secondary1);
  color: getColor(text-primary);

  .site-wrapper {
    @include flex-center;
    justify-content: space-between;
    
    @include bp(phone) {
      display: flex;
      align-items: center;
    }

    .site-logo {
      img {
        position: relative;
        width: 13rem;
        height: auto;
        z-index: 5000;

        @include bp(phone) {
          margin-top: -5em;
          width: 10rem;
        }

        @include bp(tablet) {
          width: 8rem;
        }
      }
    }

    .site-nav {
      @include flex-center;
      margin-bottom: 6em;

      @include bp(phone) {
        flex-direction: column;
        margin-top: 2em;
      }

      article {
          display: flex;
          align-items: center;
      }

      a {
        width: 120px;
        text-align: right;
        font-weight: bold;
        text-decoration: none;
        padding: 0.5em;
        margin-left: 1em;
        border-radius: 8px;
        color: getColor(logo-third);
      }

      a:hover {
        transition: background-color 0.5s ease;
        background-color: getColor(logo-secondary);
      }
    }
  }
}