header {
  grid-area: logoto-header;

  @include flex-center;
  justify-content: space-between;

  .site-logo {
    img {
      @include flex-center;
      position: relative;
      margin-top: 5em;
      width: 13rem;
      height: auto;
      z-index: 5000;
    }
  }

  .site-nav {
    @include flex-center;
    margin: 1em;

    a {
      text-align: right;
      padding: 0.5em;
      margin-left: 1em;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      color: getColor(logo-third);
      width: 120px;
    }

    a:hover {
      transition: background-color 0.5s ease;
      background-color: getColor(logo-secondary);
      vertical-align: middle;
    }
  }

  background-color: getColor(bg-secondary1);
  color: getColor(text-primary);
}
