.site-header {
  grid-area: logoto-header;
  @include flex-center;

  background-color: getColor(bg-secondary1);
  color: getColor(text-primary);

  .site-wrapper {
    
    .site-nav {
      @include flex-center;

      @include bp(phone) {
        flex-direction: column;
      }

      article {
          display: flex;
          align-items: center;
      }

      a {
        width: 120px;
        text-align: right;
        font-weight: bold;
        text-decoration: none;
        padding: 0.5em;
        margin-left: 1em;
        border-radius: 8px;
        color: getColor(logo-third);
      }

      a:hover {
        transition: background-color 0.5s ease;
        background-color: getColor(logo-secondary);
      }
    }
  }
}

.site-logo {
  grid-area: logoto;
  background-color: getColor(bg-secondary1);
  padding-left: 30%;

  img {
    position: relative;
    width: 13rem;
    height: auto;
    z-index: 5000;

    @include bp(phone) {
      padding-top: 1em;
      width: 10rem;
    }

    @include bp(tablet) {
      width: 8rem;
    }
  }
}