$colors: (
  bg-primary: whitesmoke,
  bg-secondary3: #333,
  bg-secondary5: #555,
  bg-secondary7: #777,
  bg-secondary1: #111,
  bg-black: black,
  bg-orange: rgb(177, 122, 20),
  bg-green: rgb(107, 143, 34),
  text-primary: white,
  text-secondary: black,
  logo-primary: #d94364,
  logo-secondary: #aa0b2d,
  logo-third: #efe3e7,
  nba-primary: #006bb7
);
